{% extends 'base.html' %}

{% block sidebar %}{% endblock %}

{% block content %}

        <div id="mywall-post">
            {% if post.photo %}

                    <div id="mywall-post-info">
                        <h1><a href="{{ post.get_absolute_url }}"> {{ post.title }}</a></h1>

                        <span><div class="datetime">Posted on {{ post.get_created_as_string }}</div></span>
                        <p><i>{{ post.body|linebreaks }}</i></p>
                        <p>
                            <a href="{{ post.get_absolute_url }}comments/">
                                    {{ post.comment_set.count }} : comments
                                </a>
                                <br/>
                                <a href="{{ post.get_absolute_url }}like/">
                                    {{ post.likes }} : likes
                            </a>
                        </p>

                    </div>

                <div id="img-blog">
                    <img src='/static/{{ post.photo }}' width='100%' />
                </div>

            {% endif %}

        </div>


{% endblock %}